.show {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  
  
}

.container{
  border: 1px solid black;
}

.show button{
  width: 60px;
  height: 30px;
  background-color: aquamarine;
  cursor: pointer;
}

.card{
  position: relative;
}
.image{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.card-container{
  width: 400px;
  border: 1px solid black;
  margin-left: 15px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 15px;
}

.content{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.report{
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  background-color: aqua;
  cursor: pointer;
}

.count-info{
  border: 1px dashed black;
  padding: 5px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}