.input-search{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}

.coutry-info{
  border: 2px solid black;
  padding: 20px;
  color: cadetblue;
  width: 100%
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}